extends layout

block content
	extends layout

block content
	#contn.container
		.row
			.col-sm-12
				h2 Our Service Offerings :
           
  
		.row.row-content
			.col-sm-6
				h3 1). Retail deliveries for shops
				p
				|Use us. We take the burden off retailers by handling deliveries to their customers thus allowing them focus on their core job of retail trade while we satisfy their customers with timely and guaranteed deliveries anywhere within the city.
				div
					a.btn#btn(role='button', href='#')
						i.fa.fa-cart-plus
							|  Request Service
		.row.row-content
			.d-flex.justify-content-end 
				.col-sm-6 
					h3 2). Personal errands
					p
					| If you actually need to pick up an item or send an errand to anywhere within the city, just call our hotline and or request service below and we will dispatch one of our fast and dependable service agents.
					div
						a.btn#btn(role='button', href='#')
							i.fa.fa-cart-plus
								|  Request Service
		.row.row-content
			.col-sm-6
				h3 3). Special bulk errands
				p
				|We also offer great discounts for bulk patronage such as delivering your invites for your occasions, aso ebi etc. for upcoming parties or messages/gifts just to say thank you to customers or patrons.
				div
					a.btn#btn(role='button', href='#')
						i.fa.fa-cart-plus
							|  Request Service						
		.row
			.col-sm-12
				h2 Areas we cover :
				p
				| With operations base situated in Ikeja, Lagos State, we cover areas such as:
				div
					p#pdis 
						b Surulere
					p#pdis 
						b Festac	
					p#pdis 
						b Ikotun	
					p#pdis
						b Omole	
					p#pdis 
						b Victoria Island
					p#pdis 
						b Lekki	
					p#pdis 
						b Ikoyi	
					p#pdis
						b Ajah 