doctype html
html
	head
		title Onishe Errands
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
	body
		nav.navbar.navbar-inverse.navbar-toggleable-sm.fixed-top
			.container
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#Navbar')
					span.navbar-toggler-icon
				a.navbar-brand(href='#', style='color:yellow')
					i.fa.fa-angle-right.fa-md(style='color:gray')
					i.fa.fa-chevron-right(style='color:orange')
					| Onishe
				#Navbar.collapse.navbar-collapse
					ul.navbar-nav
						li.nav-item.active
							a.nav-link(href='./', style='color:yellow')
								i.fa.fa-home.fa-lg
								|  Home
						li.nav-item
							a.nav-link(href='./error', style='color:yellow')
								i.fa.fa-info.fa-lg
								|  About
						li.nav-item
							a.nav-link(href='./contact', style='color:yellow')
								i.fa.fa-address-card.fa-lg
								|  Contact
						li.nav-item
							a.nav-link(href='./faqs', style='color:yellow')
								i.fa.fa-question-circle
								|  FAQs
		header
			.jumbotron
				.container
					.row
						.col-12.col-sm-8
							h1 Onishe Logistic Support Services 		
							h5
							| ....dedicated servitude
							h5(style='font-family:Agency FB')
							| We take the burden off you by running your errands and delivering your messages when you call us.	
		block content
		.footer
			.container
				.row
					.col-sm-2
						i.fa.fa-phone.fa-lg
						| : 0908-700-1006
						br
					col-sm-3
						i.fa.fa-envelope.fa-lg
						| : onishe2016@gmail.com
						br
					.col-sm-2
					.col-sm-4.align-self-center
						div(style='text-align:center')
							a.btn.btn-social-icon.btn-instagram(target='_blank', href='https://www.instagram.com/onisheerrands/')
								i.fa.fa-instagram
							a.btn.btn-social-icon.btn-facebook(target='_blank', href='https://web.facebook.com/onishe.nimi')
								i.fa.fa-facebook
							a.btn.btn-social-icon.btn-twitter(target='_blank', href='https://twitter.com/OnisheErrands')
								i.fa.fa-twitter
							a.btn.btn-social-icon(target='_blank', href='mailto:onishe2016@gmail.com')
								i.fa.fa-envelope-o
				.row.justify-content-center
					.col-auto
						p &copy; Designed by Tsijim  08088378386
		script(src='javascripts/jquery.js')
		script(src='javascripts/tether.js')
		script(src='javascripts/bootstrap.js')
		